{% extends "template.html" %} {%block content%}
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2"></div>
  </div>
</section>
<section class="content">
  <div class="alert alert-success">
    <a href="#" class="close text-white" data-dismiss="alert" aria-label="close">&times;</a>
    {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %} {{ message }} {% endfor %} {% endif %} {% endwith %}
  </div>
  <div class="card">
    <div class="card-header">
      <a class="btn btn-success btn-sm" href="{{ 'bukuAdd' }}">
        <i class="fas fa-plus-circle"> </i>
        Tambah Buku Baru
      </a>
      <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
          <i class="fas fa-minus"></i>
        </button>
        <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
          <i class="fas fa-times"></i>
        </button>
      </div>
    </div>
    <div class="card-body p-0">
      <table class="table table-striped projects text-left">
        <thead>
          <tr>
            <th>Kode Buku</th>
            <th>Judul Buku</th>
            <th>Penulis Buku</th>
            <th>Penerbit Buku</th>
            <th>Tahun Terbit</th>
            <th>Stok</th>
            <th>Aksi</th>
          </tr>
        </thead>
        <tbody>
          {% for item in data %}
          <tr>
            <td>
              <p>{{ item.kode }}</p>
            </td>
            <td>
              <p>{{ item.judul }}</p>
            </td>
            <td>
              <p>{{ item.penulis }}</p>
            </td>
            <td>
              <p>{{ item.penerbit }}</p>
            </td>
            <td>
              <p>{{ item.tahun }}</p>
            </td>
            <td>
              <p>{{ item.stok }}</p>
            </td>
            <td class="project-actions">
              <a class="btn btn-info btn-sm" href="bukuUpdate/{{ item.id_buku }}">
                <i class="fas fa-pencil-alt"> </i>
                Edit
              </a>
              <a class="btn btn-danger btn-sm" href="bukuDelete/{{ item.id_buku }}" onclick="return confirm('Are you sure you want to delete?');">
                <i class="fas fa-trash"> </i>
                Delete
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</section>
{% endblock %}
