<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Ini Landing Page</title>
    <link rel="icon" type="image/x-icon" href="../static/favicon.ico" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@0,600;1,600&amp;display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,500;0,600;0,700;1,300;1,500;1,600;1,700&amp;display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;1,400&amp;display=swap" rel="stylesheet" />
    <link href="../static/css/styles-index.css" rel="stylesheet" />
  </head>
  <body id="page-top">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top shadow-sm" id="mainNav">
      <div class="container px-5">
        <a class="navbar-brand fw-bold" href="#page-top">Perpustakaan TMJ</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="bi-list"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ms-auto me-4 my-3 my-lg-0">
            <li class="nav-item"><a class="nav-link me-lg-3" href="#features">Articles</a></li>
            <li class="nav-item"><a class="nav-link me-lg-3" href="#download">About</a></li>
          </ul>
          <a class="btn btn-primary rounded-pill px-3 mb-2 mb-lg-0" href="{{ url_for('login') }}">
            <span class="d-flex align-items-center">
              <i class="bi-door-open-fill me-2"></i>
              <span class="small">Login</span>
            </span>
          </a>
        </div>
      </div>
    </nav>
    <header class="masthead">
      <div class="container px-5">
        <div class="row gx-5 align-items-center">
          <div class="col-lg-6">
            <div class="mb-5 mb-lg-0 text-center text-lg-start">
              <h1 class="display-1 lh-1 mb-3">Membaca Jendela Dunia</h1>
              <p class="lead fw-normal text-muted mb-5">Selamat datang di Perpustakaan Online Teknik Multimedia dan Jaringan Politeknik Negeri Jakarta</p>
              <div class="d-flex flex-column flex-lg-row align-items-center">
                <a class="me-lg-3 mb-4 mb-lg-0" href="#!"><img class="app-badge" src="../static/img/google-play-badge.svg" alt="..." /></a>
                <a href="#!"><img class="app-badge" src="../static/img/app-store-badge.svg" alt="..." /></a>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <img src="../static/img/digital-library.png" class="img-fluid" alt="" />
          </div>
        </div>
      </div>
    </header>
    <aside class="text-center bg-gradient-primary-to-secondary">
      <div class="container px-5">
        <div class="row gx-5 justify-content-center">
          <div class="col-xl-8">
            <div class="h2 fs-1 text-white mb-4">"Buku dan pintu adalah hal yang sama. Kamu membukanya dan kamu pergi ke dunia lain."</div>
          </div>
        </div>
      </div>
    </aside>
    <section id="features">
      <div class="container px-5">
        <div class="row gx-5 align-items-center">
          <div class="col-lg-12 order-lg-1 mb-5 mb-lg-0">
            <div class="container-fluid px-5">
              <div class="h2 fs-1 mb-4 text-center">Layanan Kami</div>
              <div class="row gx-5">
                <div class="col-md-6 mb-5">
                  <div class="text-center">
                    <i class="bi-bookshelf icon-feature text-gradient d-block mb-3"></i>
                    <h3 class="font-alt">OPAC</h3>
                    <p class="text-muted mb-0">Online Public Access Catalog</p>
                  </div>
                </div>
                <div class="col-md-6 mb-5">
                  <div class="text-center">
                    <i class="bi-journal icon-feature text-gradient d-block mb-3"></i>
                    <h3 class="font-alt">KHS-KT</h3>
                    <p class="text-muted mb-0">Kumpulan Hasil Skripsi Kakak Tingkat</p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-5 mb-md-0">
                  <div class="text-center">
                    <i class="bi-people icon-feature text-gradient d-block mb-3"></i>
                    <h3 class="font-alt">KOL-PTMJ</h3>
                    <p class="text-muted mb-0">Keanggotaan Online Perpustakaan TMJ</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="text-center">
                    <i class="bi-laptop icon-feature text-gradient d-block mb-3"></i>
                    <h3 class="font-alt">E-RES</h3>
                    <p class="text-muted mb-0">Koleksi Digital Berlangganan</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="bg-light">
      <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center justify-content-lg-between">
          <div class="col-12 col-lg-5">
            <h2 class="display-4 lh-1 mb-4">Tingkatkan Literasi Kamu, Tingkatkan Kemajuan Bangsa</h2>
          </div>
          <div class="col-sm-8 col-md-6">
            <div class="px-5 px-sm-0"><img class="img-fluid rounded-circle" src="../static/img/reading-book.png" alt="..." /></div>
          </div>
        </div>
      </div>
    </section>
    <section class="cta">
      <div class="cta-content">
        <div class="container px-5">
          <h2 class="text-white display-1 lh-1 mb-4">
            Ribuan buku
            <br />
            dimulai dari buku pertamamu
          </h2>
          <a class="btn btn-outline-light py-3 px-4 rounded-pill" href="https://startbootstrap.com/theme/new-age" target="_blank">Cari Buku</a>
        </div>
      </div>
    </section>
    <section class="bg-gradient-primary-to-secondary" id="download">
      <div class="container px-5">
        <h2 class="text-center text-white font-alt mb-4">Get the TMJ Library app now!</h2>
        <div class="d-flex flex-column flex-lg-row align-items-center justify-content-center">
          <a class="me-lg-3 mb-4 mb-lg-0" href="#!"><img class="app-badge" src="../static/img/google-play-badge.svg" alt="..." /></a>
          <a href="#!"><img class="app-badge" src="../static/img/app-store-badge.svg" alt="..." /></a>
        </div>
      </div>
    </section>
    <footer class="bg-black text-center py-5">
      <div class="container px-5">
        <div class="text-white-50 small">
          <div class="mb-2">&copy; Perpustakaan TMJ 2022. All Rights Reserved.</div>
          <div class="mb-2">Developed by Shoffan Darul Mufti | 2107421009</div>
          <a href="#!">Privacy</a>
          <span class="mx-1">&middot;</span>
          <a href="#!">Terms</a>
          <span class="mx-1">&middot;</span>
          <a href="#!">FAQ</a>
        </div>
      </div>
    </footer>
    <div class="modal fade" id="feedbackModal" tabindex="-1" aria-labelledby="feedbackModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header bg-gradient-primary-to-secondary p-4">
            <h5 class="modal-title font-alt text-white" id="feedbackModalLabel">Login to Dashboard</h5>
            <button class="btn-close btn-close-white" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body border-0 p-4">
            <form id="contactForm" data-sb-form-api-token="API_TOKEN">
              <div class="form-floating mb-3">
                <input class="form-control" id="name" type="text" placeholder="username" data-sb-validations="required" value="sh.fanda" />
                <label for="name">Username</label>
                <div class="invalid-feedback" data-sb-feedback="name:required"></div>
              </div>
              <div class="form-floating mb-3">
                <input class="form-control" id="pass" type="password" placeholder="********" data-sb-validations="required,password" value="********" />
                <label for="pass">Password</label>
                <div class="invalid-feedback" data-sb-feedback="pass:required">Password is required.</div>
                <div class="invalid-feedback" data-sb-feedback="pass:password">Password is not valid.</div>
              </div>
              <div class="d-none" id="submitSuccessMessage">
                <div class="text-center mb-3">
                  <div class="fw-bolder">Form submission successful!</div>
                  To activate this form, sign up at
                  <br />
                  <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                </div>
              </div>
              <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
              <div class="d-grid"><a class="btn btn-primary rounded-pill btn-lg" id="submitButton" href="{{ url_for('dashboard') }}">Submit</a></div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/scripts-index.js"></script>
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
  </body>
</html>
